# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java基础的学习\java-Study\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
